.nav_text {
  color: #630834;
}
.text-green700 {
  color: #707070;
}
.btn-xxl {
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  border-radius: 0.3rem;
}
.btn-pick {
  color: #fff;
  background-color: #e31277;
  border-color: #e31277;
}

.nav-link-ex {
  padding-right: 1rem;
  padding-left: 1rem;
}
.h-345{
  height: 345px;
}
.img-size-s{
  width: 1.5rem;
}
.img-cove{
  width: 100%;
  height: 30vh;
  object-fit: cover;
  
}
.img-cove-group{
   width: 35vw;
  height: 30vh;
  object-fit: cover;

}
.end-10{
  right: 10%;
}
.px-8{
  padding-left: 8rem;
  padding-right: 8rem;
}
.w-30{
  width: 30%;
}
.w-80{
  width: 80%;
}